<!-- Este archivo inicia un nodo para probar el movimiento del brazo en el robot real
prueba de 17 de septiembre -->

<launch>

    <!-- Se inicia el planificador de trayectorias del brazo -->
    <!-- <include file="$(find my_kairos_moveit_config)/launch/rbkairos_planning_execution.launch">
        <arg name="launch_rviz" value="false"/>
	</include> -->

    <!-- Se lanza el nodo que  -->
    <node name="PRUEBA_arm_service_server_COMMANDER" pkg="disinfection_process" type="SIMPLE_prueba_brazo_service_commander.py" output="screen"/>

</launch>