<launch>

    <!-- ESTE ES PAAR PROBAR A ACTIVAR EL BRAZO PERO CON EL MOVIMIENTO SIMPLE -->

    <!-- ACTIVAR e iniciar MoveIt para controlar brazo -->
    <!-- <include file="$(find disinfection_process)/launch/COMPLETO_activar_brazo.launch"/> -->

    <!-- Se inicia el servidor del servicio encargado de mover el brazo -->
    <group ns="robot">
        <node type="SIMPLE_prueba_brazo_service_commander.py" name="PRUEBA_arm_service_server_COMMANDER" pkg="disinfection_process" output="screen"/>
    </group>


</launch>